* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: #2c2c2cd0;
  zoom: 100% !important;
}

:root {
  --dark-gray: #272727;
  --medium-gray: #313131;
  --light-gray: #808080;
}

.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.15fr 1fr;
  margin: 0px !important;
  overflow: hidden;
}

.sidebar {
  display: list-item;
  gap: 20px;
  align-items: top;
  background-color: gray;
  padding: 15px;
  width: 252px;
  zoom: 75% !important;
}

.sidebarItem {
  margin-top: 5px;
  margin-bottom: 15px;
}

.canvas {
  background-color: var(--dark-gray);
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
  display: grid;
  border-radius: 30px;
  max-width: 90vmin;
  max-height: 90vmin;
  aspect-ratio: 1 / 1;
}

.button {
  background-color: rgb(239, 239, 239);
  font-size: 13.5px;
}

.button:hover {
  background-color: rgb(230, 230, 230);
}

.button:active {
  background-color: rgb(153, 153, 153);
}

.button-row {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  display: flex;
}

.button-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.button-link:active {
  color: red;
}

.control {
  width: 50px;
  margin-right: 10px;
}

.seek-control {
  width: 20px;
  background-color: gray;
  color: white;
}

.checkbox-label {
  margin-left: 2px;
  margin-right: 5px;
}

.chooser-label {
  display: inline;
  height: 17px;
  width: 84px;
}

.current-label {
  font-size: 14px;
  margin-left: 5px;
}

.LEDButtonSquare {
  width: 8vmin;
  height: 8vmin;
  margin: 0.5vmin;
  border: 2px solid black;
  border-radius: 5px;
  outline: 0 !important;
  touch-action: manipulation;
}

.LEDButtonSquareOverlay {
  background-color: var(--dark-gray);
  width: 6.6vmin;
  height: 6.6vmin;
  margin: 1.2vmin;
  outline: 0 !important;
  touch-action: manipulation;
  position: absolute;
  pointer-events: none;
}

.LEDButtonCircle75 {
  width: 6.6vmin;
  height: 6.6vmin;
  margin: 1.2vmin;
  border: 2px solid black;
  border-radius: 50%;
  outline: 0 !important;  
  touch-action: manipulation;
}

.LEDButtonCircle75Overlay {
  background-color: var(--dark-gray);
  width: 5.2vmin;
  height: 5.2vmin;
  margin: 1.9vmin;
  border-radius: 26px;
  outline: 0 !important;
  touch-action: manipulation;
  position: absolute;
  pointer-events: none;
}

.LEDButtonRectangle {
  width: 8vmin;
  height: 4vmin;
  margin: 0.5vmin;
  border: 2px solid black;
  border-radius: 5px;
  outline: 0 !important;
  touch-action: manipulation;
}

.LEDButtonRectangleOverlay {
  background-color: var(--dark-gray);
  width: 6.6vmin;
  height: 2.6vmin;
  margin: 1.2vmin;
  outline: 0 !important;
  touch-action: manipulation;
  position: absolute;
  pointer-events: none;
}

.LEDButtonCircleLarge {
  width: 8.6vmin;
  height: 8.6vmin;
  margin: 0.3vmin;
  border: 2px solid black;
  border-radius: 42px;
  outline: 0 !important;
  touch-action: manipulation;
}

.LEDButtonCircleLargeOverlay {
  background-color: var(--dark-gray);
  width: 6.6vmin;
  height: 6.6vmin;
  margin: 1.3vmin;
  border-radius: 35px;
  outline: 0 !important;
  touch-action: manipulation;
  position: absolute;
  pointer-events: none;
}

.LEDButtonFull {
  width: 9.6vmin;
  height: 9.6vmin;
  outline: 0 !important;
  touch-action: manipulation;
}
